* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222222;
  color: white;
  font-family: sans-serif;
}
i,
svg {
  pointer-events: none;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.kick-pad,
.snare-pad,
.hihat-pad,
.openhat-pad {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: #d9202675;
}
.snare-pad {
  background: #ff933477;
}
.hihat-pad {
  background: #ffce3c6e;
}
.openhat-pad {
  background: #35d0b975;
}
.kick-pad.active {
  background: #d92027;
}
.snare-pad.active {
  background: #ff9234;
}
.hihat-pad.active {
  background: #ffcd3c;
}
.openhat-pad.active {
  background: #35d0ba;
}

.hihat-track,
.snare-track,
.kick-track,
.openhat-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5%;
  padding-left: -20px;
}
.kick,
.snare,
.hithat,
.openhat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.164); /* Black w/opacity/see-through */
  color: white;
  border: 1px solid white;
  cursor: pointer;
  margin-top: 1rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
}


.mute.active {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
}

.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  cursor: pointer;
  border-radius: 1rem;
  margin-top: -20px;
}
.tempo p {
  font-size: 1rem;
  margin: 2rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

#kick-select,
#snare-select,
#hihat-select,
#openhat-select {
  min-width: 12rem;
  background-color: rgba(0, 0, 0, 0.164); /* Black w/opacity/see-through */
  color: white;
}

h1 {
  min-width: 9rem;
  font-size: 30px;
}


.header-img {
  width: 100vw;
  height: 40vh;
}

.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
}
h2{
  font-size: 30px;
}

@media screen and (max-width: 760px) {
  .kick-pad,
  .snare-pad,
  .hihat-pad,
  .openhat-pad {
    width: 1rem;
    height: 1rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
  }
  h1 {
    font-size: 1rem;
    min-width: 3rem;
    margin: -70px;
  }
  #kick-select,
  #snare-select,
  #hihat-select,
  #openhat-select {
    display: none;
  }
  option {
    font-size: 1rem;
  }
  .sequencer {
    margin-top: -120px;
    margin-right: auto;
  }
  .mute {
    display: none;
  }
  .kick,
  .snare,
  .hithat,
  .openhat {
    display: flex;
    margin-left: -20px;
  }
  .play {
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.164); /* Black w/opacity/see-through */
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid white;
  }
  .tempo p {
    margin-top: -10px;
    font-size: 1rem;
    text-align: center;
  }
  .header-img {
    width: 100vw;
    height: 25vh;
    margin-bottom: 30px;
  }
  
  .bg-text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: center;
    margin-top: -60px;
  }
  .subText{
    font-size: 0.2rem;
    margin: 0.5rem;
  }
  
}

