* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
i,
svg {
  pointer-events: none;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kick-pad,
.snare-pad,
.hihat-pad,
.openhat-pad {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: lightcyan;
}
.snare-pad {
  background: rgba(255, 182, 193, 0.301);
}
.hihat-pad {
  background: lightyellow;
}
.openhat-pad {
  background: rgba(0, 128, 0, 0.37);
}
.kick-pad.active {
  background: rgb(96, 247, 247);
}
.snare-pad.active {
  background: rgba(247, 64, 91, 0.644);
}
.hihat-pad.active {
  background: rgb(250, 250, 5);
}
.openhat-pad.active {
  background: rgb(0, 128, 0);
}

.hihat-track,
.snare-track,
.kick-track,
.openhat-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5%;
}
.kick,
.snare,
.hithat,
.openhat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
}

.mute.active {
  background: rgba(128, 128, 128, 0.459);
}

.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1rem;
  margin: 2rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

#kick-select,
#snare-select,
#hihat-select,
#openhat-select {
  min-width: 12rem;
}

h1 {
  min-width: 9rem;
}
